<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#" style="color: white;">Book Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: white;"  routerLink="/books-list">Show books </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: white;"routerLink="/add-book">Add books</a>
     
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: white;"routerLink="/table">Famous Books</a>
     
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"  style="color: white;"routerLink="/contact">Contact</a>
     
      </li> -->
      
    </ul>
    <span class="navbar-text text-bold"  style="color: white;">
    
    </span>
  </div>
</nav>

  

<!-- <div class="jumbotron jumbotron-fluid"> -->
  <div class="container2">
 
  
    <h1  [ngStyle]="{'color':'black'}"> Book Store Management</h1>
   
  <!-- </div> -->
</div>
<router-outlet></router-outlet>